@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #000000; /* Set the background color to black */
  color: #E0E0E0; /* Optional: Set a default text color that contrasts with the black background */
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body takes the full height of the viewport */
  overflow: hidden; /* Prevent scrolling */
}

#__next {
  height: 100%; /* Ensure the Next.js root element takes the full height */
}